{% assign url = page.url | replace: site.baseurl, '' %}
{% capture path %}{{ site.baseurl }}{% endcapture %}
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <a href="{{ '/' | relative_url }}">홈</a>
        {% assign url_parts = url | split: '/' %}
        {% for element in url_parts %}
          {% capture path %}{{ path }}{{ element }}/{% endcapture %}
          {% if element != '' and forloop.last == false %}
            » <a href='{{ path }}'>{{ element | replace:'-',' ' | remove:'.html' | capitalize }}</a>
          {% endif %}
        {% endfor %}
        {% if page.tags.size > 0 %}
          {% assign first_tag = page.tags[0] %}
          » <a href="{{ '/tags/' | append: first_tag | relative_url }}">{{ first_tag | capitalize }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
