{% assign url = page.url | replace: site.baseurl, '' %}
{% capture path %}{{ site.baseurl }}{% endcapture %}
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <a href="{{ '/' | relative_url }}">홈</a>
        {% assign url_parts = url | split: '/' %}
        {% for element in url_parts %}
          {% capture path %}{{ path }}{{ element }}/{% endcapture %}
          {% if element != '' and forloop.last == false %}
            » <a href='{{ path }}'>{{ element | replace:'-',' ' | remove:'.html' | capitalize }}</a>
          {% elsif element != '' and forloop.last %}
            » {{ element | replace:'-',' ' | remove:'.html' | capitalize }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
