---
layout: default
title: ✍️ 최근 게시글
description: 여기에서는 AI, 애플리케이션, 디자인, 사진 등 제가 좋아하는 분야의 최신 뉴스와 튜토리얼을 공유합니다.
page_cover: '/images/101.jpg'
---

<!-- begin page -->
<div class="page container">

  <div class="page-head">
    <h1 class="page-title">{{ page.title }}</h1>
    {% if page.description %}
    <p class="page-section-description">{{ page.description }}</p>
    {% endif %}
  </div>

  <div class="page__blog">
    <div class="row grid">
    {% if site.posts.size > 0 %}
    {% for post in paginator.posts offset:0 %}
      {% include article.html %}
    {% endfor %}
    {% endif %}
    </div>

    {% include pagination.html %}
  </div>

</div>
<!-- end page -->
